In [5]:
import pandas as pd

In [2]:
# Path that contains the data
DATA_PATH = "../data/raw/"

# SMALL or FULL
DATASET_TYPE = "SMALL"

# File names
train_files = {
        "FULL": ["train_pos_full.txt", "train_neg_full.txt"],
        "SMALL": ["train_pos.txt", "train_neg.txt"],
        }
test_file = {
    "TEST": "test_data.txt"
}

### Load Data

In [66]:
def load_training_data(file_path, dataset_type):
    
    if dataset_type not in train_files.keys():
        raise ValueError(f"Invalid training dataset_type. Expected one of {list(train_files.keys())}")
    
    df = pd.DataFrame()
    for file in train_files[dataset_type]:
        label = "positive" if "pos" in file else "negative" if "neg" in file else None
        with open(file_path + file, 'r', encoding='utf-8') as file:
            tweets = file.readlines()
        tmp_df = pd.DataFrame(tweets, columns=["tweet"])
        tmp_df["label"] = label
        df = pd.concat([df, tmp_df], ignore_index=True)
    
    return df

def load_test_data(file_path, dataset_type):
    if dataset_type not in test_file.keys():
        raise ValueError(f"Invalid test dataset_type. Expected {list(train_files.keys())}")
    
    df = pd.DataFrame()
    with open(file_path + test_file[dataset_type], 'r', encoding='utf-8') as file:
        data = [line.split(',', 1) for line in file.readlines()]
    df = pd.DataFrame(data, columns=["id", "tweet"])
    
    return df

In [67]:
df = load_training_data(DATA_PATH, "SMALL")

In [68]:
df = load_test_data(DATA_PATH, "TEST")

In [69]:
df.head()

  id                                              tweet
0  1  sea doo pro sea scooter ( sports with the port...
1  2  <user> shucks well i work all week so now i ca...
2  3          i cant stay away from bug thats my baby\n
3  4  <user> no ma'am ! ! ! lol im perfectly fine an...
4  5  whenever i fall asleep watching the tv , i alw...